<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.github.aazzaazzaazzaa.cc-composer</string>
	<key>CFBundleName</key>
	<string>cc-composer</string>
	<key>CFBundleDisplayName</key>
	<string>cc-composer</string>
	<key>CFBundleExecutable</key>
	<string>cc-composer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>把你在本地写好的文字送进 Ghostty 的终端。</string>
</dict>
</plist>
